<div class="container">
  <div class="row">
    <h5 class="heading">チャットルーム一覧</h5>
  </div>
  <div class="row">
    <table class="table">
      <tbody>
        <% if @entries2.present? %>
          <% @entries2.each do |entry| %>
              <tr>
                <td class="col-lg-2"><%= link_to "#{entry.user.nick_name}さん", user_path(entry.user) %></td>
                <% if entry.room.messages.present? %>
                  <td class="col-lg-8"><%= truncate(entry.room.messages.last.content, length: 200) %></td>
                <% else %>
                  <td>メッセージはありません</td>
                <% end %>
                <td class="col-lg-2"><%= link_to "チャットへ", room_path(entry.room_id), class:"btn btn-primary" %></td>
              </tr>
          <% end %>
        <% else %>
          <h6>チャットルームはありません</h6>
        <% end %>
      </tbody>
    </table>
   </div>
</div>
