<div style="margin:10% 0;">
  <h4 style="text-align:center">探していたグッズが見つかるかも？</h3>

  </br>

  <P style="text-align:center">当サイトは、アニメや漫画のグッズなどを物々交換する場所です。自分が差し出せるグッズ（譲渡グッズ)や、自分が探しているグッズ（お探しグッズ）
  を投稿しましょう。
  <p style="text-align:center">気になるグッズを見つけたらコメント欄で質問しましょう。交換したい！と決めたらチャット機能を利用し、交換方法や交換場所などを交渉しましょう！</p>
  </P>


</div>