/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 


body {
  display: flex;
  flex-flow: column;
  min-height: 125vh;
  background-image: image-url("nyanbo.jpg");
  background-size: cover;
  zoom: 80%;
}

main {
  flex: 1;
}

footer{
    margin: 50px 0 0 0; 
}

a{
    color: #14001A;
}

.table{
    background-color: rgba( 255, 191, 0, 0.5);
    border-radius: 0.50rem;
    border: none;
}

.table th,
.table td {
  border:none;
}

#error_explanation {
    color: red;
}

#navbarDropdownMenuLink{
    color: #000;
}

.logo{
    font-family: 'Patua One', cursive;
}

.nav-link{
    padding: 15px;
}

.nav-item {
  padding: 15px;
}

.nav-search{
    border-radius: 40px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.pagination {
  justify-content: center;
}


.pagination>li>a { 
  border: none;
  color: #696969;
}


.page-item.active .page-link {     
  background-color: #ee7800;
}

.pagination>li>a:hover {
	border-radius: 50%;
}

.home-text{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.heading{
    font-family: 'DotGothic16', sans-serif;
}

.label_name{
    margin: 60px 0 0 0;
}

.input_name{
    margin: 60px 0 0 0;
    width: 400px;
}

.label_signup_email{
    margin: 30px 0 0 0;
}

.input_signup_email{
    margin: 30px 0 0 0;
    width: 400px;
}

.label_signup_password{
    margin: 30px 0 0 0;
}

.input_signup_password{
    margin: 30px 0 0 0;
    width: 400px;
}

.label_email{
   margin: 60px 0 0 0; 
}

.input_email{
    margin: 60px 0 0 0;
    width: 400px;
}

.input_password{
    margin: 50px 0 40px 0;
    width: 400px;
}

.label_password{
   margin: 50px 0 0 0; 
}

.btn_login{
    margin: 30px 0 0 0;
}

.home-search{
    width: 500px;
    height: 40px;
    border-radius: 40px;
}

.profiel-area{
    background-color: transparent;
}

.mypage-icon{
    display: inline-block;
    background-color: rgba( 255, 204, 102, 0.5);
    border-radius: 0.25rem;
    margin: 0 5px 0 0 ;
}

.mypage-row{
    padding: 10px 0 10px 0;
}

.edit-button{
    margin: 5px 0 0 0;
}

.introduction{
    margin: 10px 10px 10px 10px;
    padding: 7px;
    background-color: rgba( 255, 204, 102, 0.5);
    border-radius: 0.25rem;
}

#input_introduction{
    height: 200px;
}

.trade-finish{
    color: red;
}

.trade-unfinish{
    color: green;
}

.index-item{
    margin: 10px 0 10px 0;
}

.index-image{
    height: 150px;
}


.item img {
    /* 100%にしてしまえば横幅目一杯に広がるので「左に寄る問題」自体が発生しなくなる */
    width: 100%;
}

.img-fluid {
    /* slickでslider化するとimgがblockになるのでmarginで中央寄せにしないといけない */
    margin: auto;
}

.fa-user-check{
    margin: 0px 20px 20px 20px;
    color: rgb( 245, 143, 152);
}

.fa-user{
    margin: 0px 20px 20px 20px;
    color: rgb( 245, 143, 152);
}

.fa-envelope{
    color: rgb( 245, 143, 152);
}

.fa-bookmark{
    color: rgb( 245, 143, 152);
}

.item-show{
    margin: 20px 0 20px 0;
}

.comment-counts{
    margin: 25px 0 0 0 ;
}

.form-group-comment{
    margin: 50px 0px 20px 0px;
}

#input_comment{
    height: 150px;
}

.fa-paper-plane{
    background: none;
}

.comments{
    margin: 0 0 50px 0;
}

.comment-list {
    margin: 20px 0 0 0;
    background-color: rgba( 255, 191, 0, 0.2);
    padding: 10px;
    border-radius: 0.50rem;
}

.slick-track{
    display: flex;
    align-items: center;
}


.slick-prev:before, .slick-next:before {
    color: #000;
    opacity: 1;
}

.slick-dots{
    color: #FFE28C;
}

#input_explanation{
    height: 300px;
}

#input_message{
    height: 180px;
    margin: 20px 0 0 0;
}

.barter-way{
    display: inline-block;
}

.your-chat-content{
    display: inline-block;
    background-color: #C9F562;
    border-radius: 0.50rem;
    margin: 5px 0 5px 0 ;
    padding: 10px;
}

.other-chat-content{
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 0.50rem;
    margin: 5px 0 0 0 ;
    padding: 10px;
}

.chat-time{
    margin: 15px 0 0 0;
}
