/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
   background-image: image-url("nyanbo.jpg")
}

main {
  flex: 1;
}


#navbarDropdownMenuLink{
    color: #000;
}

.nav-link{
    padding: 15px;
}

.nav-item {
  padding: 15px;
}


.dropdown:hover>.dropdown-menu {
  display: block;
}

.index-item{
    margin: 10px 0 10px 0;
}

.index-image{
    height: 150px;
}

.item img {
    /* 100%にしてしまえば横幅目一杯に広がるので「左に寄る問題」自体が発生しなくなる */
    width: 100%;
}

.img-fluid {
    /* slickでslider化するとimgがblockになるのでmarginで中央寄せにしないといけない */
    margin: auto;
}

.fa-user-check{
    margin: 0px 20px 20px 20px;
}

.item-show{
    margin: 20px 0 20px 0;
}

.comment-counts{
    margin: 25px 0 0 0 ;
}

.form-group-comment{
    margin: 50px 0px 20px 0px;
}

#comment{
    height: 150px;
}

.fa-paper-plane{
    background: none;
}

.comments{
    margin: 0 0 50px 0;
}

.comment-list {
    margin: 20px 0 0 0;
}


.slick-prev:before, .slick-next:before {
    color: #FFE28C;
    opacity: 1;
}

.slick-dots{
    color: #FFE28C;
}

